
.carousel-content {
	display: none;
}

.carousel-content.active {
	display: block;
}
img{
	width: 900px;
	height: 550px;
}
h1{
	font-family: 'Oswald', sans-serif;
}
body{
	background-color:#8A084B;
}
