
.carousel-content {
	display: none;
}

.carousel-content.active {
	display: block;
}

img{
	width: 900px;
	height: 550px;
}

.titulo{
	font-family: 'Oswald', sans-serif;
	margin-left: 38%;
	color:#8A084B;
}

.carousel{
	background-color:#8A084B;
	padding: 4% 10% 4% 11%;
}

#botones{
	margin-left: 42%;
}
.cuadro{
	margin-top:10px;
	width:40px;
	height:25px;
}

.controls .btn-default{
	background-color: #31708f;

}
.flecha{
	margin-top: 42px;
	font-size: 22px;
}