
.carousel-content {
	display: none;
}

.carousel-content.active {
	display: block;
}

img{
	width: 900px;
	height: 550px;
}

.titulo{
	font-family: 'Oswald', sans-serif;
	margin-left: 38%;
	color:#8A084B;
}

.carousel{
	background-color:#8A084B;
	padding: 4% 10% 4% 11%;
}

#botones{
	margin-left: 45%;
}
